<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formCadastrar" (ngSubmit)="submitForm()">
    <app-usuario [form]="formCadastrar"></app-usuario> 
    <ion-item>
      <ion-label position="floating">Confirmação de senha</ion-label>
      <ion-input type="password" formControlName="confSenha"></ion-input>
    </ion-item>
    <span
      *ngIf="formCadastrar.get('confSenha')?.touched && 
      formCadastrar.get('confSenha')?.errors?.['required']"
      >Confirmar senha</span
    ><br />
    <span
      *ngIf="formCadastrar.get('confSenha')?.dirty && 
    formCadastrar.get('confSenha')?.errors?.['minlength']"
      >A confirmação de senha é obrigatória!</span
    ><br />
    <span
      *ngIf="formCadastrar.get('confSenha')?.dirty && (this.formCadastrar.get('senha')?.value != this.formCadastrar.get('confSenha')?.value)"
      >As senhas precisam ser iguais!
    </span>
    <ion-button expand="full" color="success" type="submit"
      >Cadastrar</ion-button
    >
  </form>
</ion-content>