<app-usuario-header [cadastroo]="false"></app-usuario-header>

<ion-content>
  <ion-list>
    <form [formGroup]="formLogar" (ngSubmit)="submitForm()">
    <app-usuario [form]="formLogar" (ngSubmit)="submitForm()"></app-usuario>
    <ion-button expand="full" color="success" type="submit">Entrar</ion-button>
    <ion-button expand="full" color="danger" (click)="logarComGoogle()">
    Entrar com Google 
    <ion-icon slot="end" name="logo-google"></ion-icon>
  </ion-button>
  <ion-button expand="block" color="dark"
      (click)="logarComGitHub()">Entrar com GitHub <ion-icon slot="end" name="logo-github"></ion-icon>
    </ion-button>
  <a (click)="irParaSignUp()">Não tem Cadastro? Clique Aqui!</a>
  </form>
  </ion-list>
</ion-content>