<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-personalizado">CADASTRE UM JOGADOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form >
      <app-jogador [form]="formCadastrarJ" (ngSubmit)="submitForm()"></app-jogador>
      <ion-item>
        <ion-button size="default" color="success" shape="round" >
          <input type="file" (change)="uploadFile($event.target)" />
        </ion-button>
      </ion-item>
      <ion-button expand="block" (click)="cadastrar()">Cadastrar</ion-button>
   </form>
   </ion-list>
  </ion-content>