<app-jogador-header [edicaao]="false"></app-jogador-header>

<ion-content>
  <app-loading-jogador *ngIf="isLoading"></app-loading-jogador>
  <ion-list>
    <form >
      <app-jogador [form]="formCadastrarJ" (ngSubmit)="submitForm()"></app-jogador>
      <ion-item>
        <ion-button size="default" color="success" shape="round" >
          <input type="file" (change)="uploadFile($event.target)" />
        </ion-button>
      </ion-item>
      <ion-button expand="block" (click)="cadastrar()">Cadastrar</ion-button>
   </form>
   </ion-list>
  </ion-content>